* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgb(209, 209, 209);
}

.carousel-item {
    height: 100vh;
    
}

.pr-btn {
    font-family: 'Lacquer', sans-serif;
    position: absolute;
    background-color: #663399;
    text-transform: uppercase;
    padding: 30px 110px;
    font-size: 100px;
    border-radius: 36px;
    display: inline-block;
    color: #FFCA40;
    transition: ease 1s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pr-btn:hover {
    color: #663399;
    background-color: #FFCA40;
    text-decoration: none;
}