* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
}

div {
    flex-basis: 15%;
    flex-grow: 1;
    height: 33.33vh;
    border: 5px solid lightgray;
}

@media (orientation: portrait) {
    div {
        flex-basis: 30%;
        height: 16.66vh;
    }
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.brown {
    background-color: brown;
}

.violet {
    background-color: violet;
}

.yellow {
    background-color: yellow;
}

.darkslategray {
    background-color: darkslategray;
}

.yellowgreen {
    background-color: yellowgreen;
}

.cyan {
    background-color: cyan;
}


.off {
    background-color: lightgray;
}

.hidden {
    background-color: black;
}